body {
  font-family: "Open Sans", sans-serif;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B9D9EB;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  padding: 20px;
  background-color: #B9D9EB;
  color: black;
}

.nav li a:hover {
  background-color: white;
}

.nav li a.active {
  background-color: white;
}

h1 {
  background-color: #2D45AE;
  font-family: "helvetica";
  text-align: center;
  margin: 0;
  padding: 20px;
}

.mySlides {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 60px;
}

.active {
  background-color: #4CAF50;
}

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-right: 10%;
  margin-left: 10%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}
.maintext {
  background-color: grey;
  width: 1200px;
  margin: 50px;
}

.thanks {
  background-color: pink;
  width: 1200px;
  margin: 50px;
}

p1 {
  margin: 20px;
  color: blue;
  font-size: 20px;
}

p2 {
  color: purple;
  font-size: 15px;
  font-style: italic;
}

#mainBody {
  padding-left: 20px;
}

.sunday {
  border: 3px solid #73AD21;
  background-color: grey;
  width: 450px;
  float: left;
  padding: 5px;
  margin-right: 60px;
  margin-bottom: 60px;
}

h2 {
  clear: left;
}

.monday {
  border: 3px solid #73AD21;
  background-color: grey;
  width: 450px;
  float: left;
  padding: 5px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.tuesday {
  border: 3px solid #73AD21;
  background-color: grey;
  width: 450px;
  float: left;
  padding: 5px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.wednesday {
  border: 3px solid #73AD21;
  background-color: grey;
  width: 450px;
  float: left;
  padding: 5px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.thursday {
  border: 3px solid #73AD21;
  background-color: grey;
  width: 450px;
  float: left;
  padding: 5px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.friday {
  border: 3px solid #73AD21;
  background-color: grey;
  width: 450px;
  float: left;
  padding: 5px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.shabbat {
  border: 3px solid #73AD21;
  background-color: grey;
  width: 450px;
  float: left;
  padding: 5px;
  margin-right: 60px;
  margin-bottom: 60px;
}


.menuitem li {
  font-weight: normal;
  text-decoration: none;
  list-style-type: circle;
}

.sunday ul {
  list-style-type: none;
  margin-right: 5px;
}

.sunday li {
  font-weight: bold;
  text-decoration: underline;
}


.monday ul {
  list-style-type: none;
  margin-right: 5px;
}

.monday li {
  font-weight: bold;
  text-decoration: underline;
}
